<div class="collection with-header">
  <div class="collection-header">Waiting Approval</div>
  <% @flight_cards.each do |card| %>
    <%= link_to "#{card.name} - #{card.rocket_name}", edit_rso_card_path(card), class: 'collection-item' %>
  <% end %>
  <div class="collection-header">Approved</div>
  <% @approved.each do |card| %>
    <%= link_to edit_rso_card_path(card), class: 'collection-item' do %>
      <%= "#{card.name} - #{card.rocket_name}" %>
      <span class="badge"><%= card.pad_assignment %></span>
    <% end %>
  <% end %>
</div>
