<% if policy(@launches).create? %>
  <%= link_to 'Create New Launch', new_launch_path, class: 'btn' %>
<% end %>
<div class="collection">
  <% @launches.each do |launch| %>
    <% if policy(launch).update? %>
      <%= link_to launch.name, edit_launch_path(launch), class: 'collection-item' %>
    <% else %>
      <%= link_to launch.name, new_launch_flight_card_path(launch), class: 'collection-item' %>
    <% end %>
  <% end %>
</div>
