<h2>New Launch</h2>

<%= form_with model: @launch do |form| %>
  <%= render partial: 'form', locals: { f: form } %>
  <%= form.submit 'Create', class: 'btn' %>
  <%= link_to 'Cancel', launches_path, class: 'btn-flat' %>
<% end %>
