<div class="flex--row" style="margin-top: 12px;">
  <div class="flex--column">
    <button class="waves-effect waves-light btn">I'm flying</button>
    <button class="waves-effect waves-light btn">RSO</button>
    <button class="waves-effect waves-light btn">LCO</button>
    <button class="waves-effect waves-light btn">Launch Admin</button>
  </div>
</div>
