<div class="flex--row" style="margin-top: 12px;">
  <div class="flex--column">
    <%= link_to "I'm Flying", new_user_registration_path(role: 'flier'), class: 'waves-effect waves-light btn' %>
    <button class="waves-effect waves-light btn">RSO</button>
    <button class="waves-effect waves-light btn">LCO</button>
    <button class="waves-effect waves-light btn">Launch Admin</button>
  </div>
</div>
